<%= form_for comment do |f| %>
  <% if comment.user %>
    <article class="row">
      <div class="col-md-2 col-sm-2 hidden-xs">
        <figure class="thumbnail">
          <%= link_to gravatar_for comment.user, size: Settings.image.size.avatar%>
        </figure>
      </div>
      <div class="col-md-10 col-sm-10">
        <div class="panel panel-default arrow left">
          <div class="panel-body">
            <header class="text-left">
              <% if current_user &&
                (current_user.admin? || current_user.id == comment.user.id) %>
                <div class="dropdown pull-right delete-comment-dropdown">
                  <a data-toggle="dropdown" ><b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li class="delete-comment" data-commentid=<%= comment.id %>>
                      <%= t("delete") %>
                    </li>
                  </ul>
                </div>
              <% end %>
              <div class="comment-user"><i class="fa fa-user"></i>
                <%= comment.user.name %>
              </div>
              <time class="comment-date">
                <i class="fa fa-clock-o"></i>
                <%= time_ago_in_words comment.created_at %>
                <%= t(".ago") %>
              </time>
            </header>
            <div class="comment-post">
              <p><%= comment.content %></p>
            </div>
          </div>
        </div>
      </div>
    </article>
  <% end %>
<% end %>
