<% provide :title, t("registration") %>
<h1 class="text-center"><%= t ".signup" %></h1>
<div class="row sign-up">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @user do |f| %>
      <%= render "shared/error_messages", object: f.object %>
      <%= f.label :name, t("name") %>
      <%= f.text_field :name, class: "form-control" %>

      <%= f.label :email, t("email") %>
      <%= f.email_field :email, class: "form-control" %>

      <%= f.label :address, t("address") %>
      <%= f.text_field :address, class: "form-control" %>

      <%= f.label :phone, t("phone_number") %>
      <%= f.phone_field :phone, class: "form-control" %>

      <%= f.label :password, t("password") %>
      <%= f.password_field :password, class: "form-control" %>

      <%= f.label :password_confirmation, t("confirm_password") %>
      <%= f.password_field :password_confirmation, class: "form-control" %>

      <%= f.submit t(".create"), class: "btn btn-success create" %>
    <% end %>
  </div>
</div>
