<% provide :title, @category.name %>
<div class="container show_category">
  <h1 class="text-center title title-padding">
    <i class="fa fa-tags list" aria-hidden="true"></i>
    <%= @category.name %>
    <% if current_user && current_user.admin? %>
      <div class="btn-group">
        <a class="btn dropdown-toggle btn-info" data-toggle="dropdown" href="#">
          <i class="glyphicon glyphicon-cog"></i><span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <%= link_to t("modify"), edit_category_path,
              class: "glyphicon glyphicon-wrench" %>
          </li>
          <li><%= link_to t("delete"), category_path,
            class: "glyphicon glyphicon-trash",
              method: :delete, data: {confirm: t("confirm")} %>
          </li>
        </ul>
      </div>
    <% end %>
    <h4 class="text-center title-padding" ><%= @category.description %></h4>
  </h1>
  <div class="row title-padding" >
    <%= render partial: "product", collection: @category.products %>
  </div>
</div>
