<% provide :title, @product.name %>
<div class="main">
  <div class="reservation_top" id="food_detail">
    <div class="container box-shadow">
      <div class="row" >
        <div class="col-md-8">
          <div class="post1">
            <h3><a><%= @product.name %></a></h3>
            <% if current_user && current_user.admin? %>
              <div class="btn-group action-button">
                <a class="btn dropdown-toggle btn-info" data-toggle="dropdown" href="#">
                  <i class="glyphicon glyphicon-cog"></i>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <%= link_to t("modify"), edit_product_path,
                      class: "glyphicon glyphicon-wrench" %>
                  </li>
                  <li><%= link_to t("delete"), product_path,
                    class: "glyphicon glyphicon-trash",
                      method: :delete, data: {confirm: t("confirm")} %>
                  </li>
                </ul>
              </div>
            <% end %>
            <div class="post1_header">
              <%= simple_format(h @product.created_at) %>
              <div><%= t ".posted" %>
                <%= time_ago_in_words @product.created_at %>
                <%= t(".ago") %>,
                <div class="post1_header_comments">
                  <%= render partial: "ratings/form", object: @rating %>
                </div>
              </div>
              <div class="post1_header_by">
                <%= t ".by_admin" %>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-1">
                <% @product_images.each do |product_images| %>
                  <%= image_tag(product_images.image,
                    size: Settings.image.size.food_show) %>
                <% end %>
              </div>
              <div class="col-xs-11 out_stock_rating">
                <% if @product.quantity != 0%>
                  <div id="add_to_cart", class="pull-right">
                    <a class="btn btn-default custom-btn col-sx-8">
                      <span class="glyphicon glyphicon-shopping-cart"></span>
                      <%= t "add_cart" %>
                    </a>
                  </div>
                <% else %>
                    <%= image_tag("out-stock.png", class: "pull-right",
                      size: Settings.image.size.out_stock) %>
                <% end %>
              </div>
            </div>
            <p><%= @product.description %></p>
          </div>
          <%= render partial: "comments/add_comment"%>
          <div>
            <div class="row">
              <div class="col-md-8">
                <h2 class="page-header"><%= t(".comment_title") %></h2>
                  <%= will_paginate @comments, id: "comment-pagination" %>
                  <section class="comment-list" id="comment_list">
                    <%= render partial: "comments/comment", collection: @comments %>
                  </section>
                  <%= will_paginate @comments %>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="category_widget">
            <hr class="style-hr">
            <h3><%= t ".category" %></h3>
            <ul class="list-unstyled arrow">
              <li>
                <%= link_to @category.name, category_path(@category) %>
                <span class="badge pull-right badge-size">
                  <%= @category.products.size %>
                </span>
              </li>
            </ul>
          </div>
          <ul class="blog-list1">
            <hr class="style-hr">
            <h3><%= t ".tags" %></h3>
            <% @category.products.each do |product| %>
              <li><%= link_to product.name, product_path(product) %></li>
            <% end %>
            <hr class="style-hr">
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
