<div class="footer">
  <div class="container">
    <div class="footer_top">
      <div class="row">
        <div class="col-md-4 footer_grid">
          <h4><%= t(".project_1") %></h4>
          <p><%= t(".author") %></p>
        </div>
        <div class="col-md-4 footer_grid">
          <h4><%= t(".food_drink") %></h4>
          <div class="footer-list">
            <ul>
              <li class="list_top"><i class="fa fa-glass twt"></i>
              <p><%= t(".drink_for_everyone") %></p></li>
              <li><i class="fa fa-cutlery twt"></i>
                <p><%= t(".drink_for_everybody") %></p></li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 footer_grid">
          <h4><%= t(".our_address") %></h4>
          <div class="company_address">
            <p><%= t("keangnam_tower_13th_floor") %></p>
            <p><%= t(".nam_tu_liem_district_Ha Noi") %></p>
            <p><%= t(".company_phone") %></p>
            <p><%= t(".company_fax") %></p>
            <p><%= t(".email") %>
              <span>
                <a href="mailto:info@framgia.com">info@framgia.com</a>
              </span>
            </p>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="footer_bottom">
      <div class="copy_right">
        <p>&copy; <%= t(".copy_right") %>
          <a href="http://w3layouts.com/">W3layouts</a></p>
      </div>
      <div class="footer_nav">
        <ul>
          <li><a href="#"><%= t(".home") %></a></li>
          <li><a href="#"><%= t(".terms_of_user") %></a></li>
          <li><a href="#"><%= t(".privacy_policy") %></a></li>
          <li><a href="#"><%= t(".contact") %></a></li>
        </ul>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
